.Blog {
  /* max-width: 600px; */
  /* display: flex;
  justify-content: center; */
}
.Blog div {
  /* margin: 10px 5px; */
  background: #96A9CA;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 20% 10px 20%;
}
.bloglink {
  align-items: center;
}
.postlist {
  margin: 10px 5px;
}
