body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1 h2 {
  display: flex;
  justify-content: center;
}
label {
  display: flex;
}
form {
  display: flex;
  justify-content: center;
}
p {
  font-style: normal;
}
a {
  margin: 2px;
}
.active {
  background-color: #47A0A5;
  transition: all ease 0.5;
}
